[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyelftools = "*"
intelhex = "*"

#feedparser = "*"
#python-daemon = "*"
#schedule = "*"
#praw = "*"

[dev-packages]

[requires]
python_version = "3.10"
